  <div class="d-flex">
    <div class="nav flex-column nav-pills col-md-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
      <a class="nav-link" id="v-my-boats-tab" data-toggle="pill" href="#v-my-boats" role="tab" aria-controls="v-my-boats" aria-selected="false">My Boats</a>
      <a class="nav-link" id="v-my-deals-tab" data-toggle="pill" href="#v-my-deals" role="tab" aria-controls="v-my-deals" aria-selected="false">My Deals</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
    </div>
    <div class="tab-content p-10" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <h1>My Dashboard</h1>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="tab-pane fade" id="v-my-boats" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <h1>My Boats</h1>
        <div class="card-deck" id="product">
          <% @boats.each do |boat| %>
          <% if boat.photos.attached? %>
          <div class="card">
            <%= link_to boat_path(boat) do %>
            <%= cl_image_tag boat.photos[0].key, height: 200, crop: :fill, class:"card-img-top" %>
            <% end %>
            <div class="card-body">

              <h5 class="card-title"> <%= boat.name  %> </h5>
              <p class="card-text"><%= boat.description %></p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>

          </div>
          <% end %>
          <% end %>
        </div>
      </div>


      <div class="tab-pane fade" id="v-my-deals" role="tabpanel" aria-labelledby="v-my-deals-tab">
       <h1>My Deals</h1>
       <div class="card-deck" id="product">
        <% @deals.each do |deal| %>
        <div>
          <p> <%= deal.date %> </p>
          <p> <%= deal.user.first_name %> </p>
          <p> <%= deal.status %> </p>
          <%= link_to "Accept", deal_validate_path(deal), class: "btn btn-succes btn-xs", method: :patch %>
        </div>
        <% end %>
      </div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
        <!-- EXTRA OU DECO -->
      </div>
    </div>
  </div>
</div>
