<h2>My boats</h2>

<%= simple_form_for [ @boat ] do |f| %>

  <div class="form-inputs-boats">
    <%= f.input :name %>
    <%= f.input :boat_type %>
    <%= f.input :size %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :photos, as: :file, input_html: { multiple: "True" } %>
  </div>

  <div class="form-actions">
    <%= f.submit "Add my boaty boat", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'back to my boats', dashboard_path %>
