<h2>My boats</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Name" }%>
    <%= f.input :type,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Type" } %>
    <%= f.input :size,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Size" } %>
    <%= f.input :description,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Description" } %>
    <%= f.input :photos, as: :file, input_html: { multiple: "True" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add my boat" %>
  </div>
<% end %>

<%= render new %>
